# Backend Laravel
backend/vendor/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php

# Frontend Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Général
.DS_Store